a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.content {
    text-align: center;
    margin-top: 15%;
}

.reload-btn {
    text-align: center;
    background: #121212;
    padding: 10px;
    color: #ffffff;
    border: 1px solid #292929;
    border-radius: 4px;
    width: 230px;
    display: inline-block;
    cursor: pointer;
}